<form
  action=""
  style="
    display: flex;
    flex-direction: column;
    max-width: 30%;
    gap: 10px;
    padding: 10px;
  "
  (ngSubmit)="updateFilm(data)"
  #data="ngForm"
>
  <label for="">nom du film</label>
  <input
    type="text"
    [(ngModel)]="film.nom"
    name="nom"
    required
  />
  <label for="">Description du film</label>
  <textarea
    [(ngModel)]="film.description"
    type="text"
    name="description"
    style="height: 80px; padding: 8px"
    required
  ></textarea>
  <button class="btn primary" type="submit">Modifier</button>
</form>
